/* Write your CSS here! */


body {
  
	width: 100%;
	max-width: 1024px;
	margin: 8px;
	background-color: grey;
	
}

h2 {
    margin: 5px 40px 5px 10px;
  }

  h1{
    color: beige;
  }

  h2{
    color: aqua;
  }
p {
  
  color: antiquewhite;
    margin: 5px 100px 25px 30px;
    padding: 1.25em;
    /*background-color:lightyellow;*/
  }

  div{
      padding: 25px 50px 75px 100px;
  }
  footer {
    text-align: left;
    color: white;
    padding: 2em;
  }
  
